html {
    background-attachment: fixed;
    background-color: rgba(50,54,57,1);
    background-position: center center;
    background-repeat: repeat;
    height: 100%;
    overflow: auto;
  }
  
  html[hascustombackground='true'] {
    background-image: url('/image/bg-landing1.png');
  }
  
  html[bookmarkbarattached='true'] {
    background-position: center center;
  }
  
  #attribution-img {
    content: url(chrome://theme/IDR_THEME_NTP_ATTRIBUTION?ahifcnpnjgbadkjdhagpfjfkmlapfoel);
  }